/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #dbd1d1;
  margin: 0;
  padding: 0;
}

#presentation-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  display: none; /* Hide all slides by default */
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#slide1 {
  display: block; /* Show the first slide initially */
}

img {
  max-width: 80%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 200px;
}

button {
  padding: 10px;
  font-size: 1.1em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
